.section-content-item ul li {
  text-align: left;
  list-style: none;
}
.section-content-item-text {
  margin-right: 4rem;
}

.section-content-item-text .icon,
.title {
  padding-left: 2rem;
}
.section-content-item h4 {
  margin-top: 1.5rem;
}
.section-inner h3 {
  text-align: left;
}
